nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
    flex-direction: row;
    background-color: #ffffff;
    
}
.img{
    width: 139px;
    height: 60px;
}
.menu{
    width: 365px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    list-style-type: none;
    

}




.btn{ 
    
    width: 164px;
    height: 44px;
    display: flex;
    background-color: rgb(75, 190, 75);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    border-radius: 8px 6px;

}
.btn:hover{ 
    transform: scale(1.05);
}


*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: inter;


}

.hero{  
    background-image:url("../image/hero-bg.png");
    background-size:cover;
    height: 100vh;
    background-position:center;
    
}

.overlay{
    height:100%;
    background:rgba(0,0,0,0.65);
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-content{
    text-align:center;
    color:white;
    max-width:800px;
    padding:20px;
}
.badge{
    
    display: inline;
    
    gap: 6;
    border-radius: 1000px;
    background-color:  rgba(255, 255, 255, 1);
    padding: 6px 16px;
    color: rgb(75, 190, 75);
    
    
}


.badge:hover{
    cursor: pointer;
}
.hero-content h1{
    font-size:72px;
    line-height:1.2;
    margin-bottom:20px;
}
.hero-content h1 span{
    color:rgba(48, 184, 104, 1)
}

.hero-content p{
    font-size:18px;
    color: rgba(255, 255, 255,);
    text-align: center;
    letter-spacing: 0%;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:10px;
    border-radius: 4px;
}

.btn{
    padding:14px 28px;
    text-decoration:none;
    border-radius:6px;
    font-size:16px;
}

.primary{
    
    background:rgb(75, 190, 75);
    border: 1px solid white;;
    color:#ffffff;
}

.outline{
    background-color: rgb(75, 190, 75);
    border:1px solid white;
    color: #ffffff;
}

.note-section{
    width: 1572;
    height: 520;
    padding:120px 120px 0 120px;
    background:#f9fafb;
    text-align:center;
    
}
.note-section h2{
    font-size: bold;
    color: black;
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.subtitle{
    color: #627382;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}
.cards{
    width: 1360px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;


    
}
.cards{
    display:grid;
    display: flex;
    gap:30px;
}

.card{
    width: 322px;
    height: 300px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    padding: 24px;
    
}
.card{
    background:#ffffff;
    padding:40px 30px;
    border-radius:16px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    text-align:center;
    
}

.card:hover{
    transform:translateY(-10px);
}

.img-box{
    width:64px;
    height:64px;
    background:#ff5a5a;    
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto 20px;
    box-shadow: #730c0c;
     
}

.card h3{
    width: 274px;
    height: 29px;
    color: #001931;   
    font-style: Semi Bold;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;   
    text-align: center;
    text-transform: capitalize;
        
}
.card:hover{
    transform:translateY(-10px);
}
.card p{
    
    width: 274px;
    height: 40px;

}   
.brain-section{
     background-color: #ffffff;
     padding: 100px 50px;


}
.brain-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
}

.brain-text{
    width:50%;
   
}
.brain-text h6{
    width: 700px;
    height: 20px;
    color: #30B868;
    font-size: 16px;
    font-style: Medium;
}

.brain-text h2{
    font-size:40px;
    margin-bottom:20px;
    color:#000000;
    text-align: left;
    
}

.brain-text p{
    color:#627382;
    margin-bottom:30px;
    font-size:18px;
    text-align: left;
}

.brain-text ul{
    list-style:none;
}

.brain-text li{
    margin-bottom:15px;
    font-size:16px;
    color:#0c111d;
    position: center;
    padding-left:25px;
}


.brain-image{  
    border-radius: 12px;   
    
}

.brain-image img{ 
    width: 600px;
    height: 600px;
}
.ready{
    
    width:100vw;
    height: 375px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 80px 40px 80px 40px;
    background-color: rgba(247, 246, 242, 1);
}
.ready h2{
    
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(23, 21, 21);
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.ready .subtext , p{
    color: #627382;   
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.ready .btn{    
    width: 194px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    box-shadow: #627382;


}

.kv-footer {

    background: var(--Style, rgba(0, 25, 49, 1));
    padding: 40px 80px 20px;
    color: white;
  
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    
    width: 139px;
    height: 60px;
}
.footer-social p {
    color: rgba(255, 255, 255, 1);

    
    font-style: Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}


.social-icons{    
    width: 72px;
    height: 30px;    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20;


}

.social-icons img {
    width: 30px;
    cursor: pointer;
    
}

.footer-line {
    height: 1px;
    background: rgba(255,255,255,0.2);
    margin: 35px 0 15px;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
}






